{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block content %}

    <div class="container mt-3">
        <h1 class="text-white text-center"> <u> OUR MENU PRICING </u> </h1>
    </div>

    <div class="container mt-3">
        <div class="row row-content">
            <div class="col-12">
                <ul class="nav nav-tabs" id="menuitems"> 
                    <li class="nav-item">
                        <a href="#topping" class="nav-link active" role="tab" data-toggle="tab"> Catagories </a>
                    </li>                                     
                    <li class="nav-item ml-3">
                        <a href="#pizza" class="nav-link" role="tab" data-toggle="tab"> Pizza </a>
                    </li>
                    <li class="nav-item ml-3">
                        <a href="#subs" class="nav-link" role="tab" data-toggle="tab"> Subs </a>
                    </li>
                    <li class="nav-item ml-3">
                        <a href="#pasta" class="nav-link" role="tab" data-toggle="tab"> Pasta </a>
                    </li>
                    <li class="nav-item ml-3">
                        <a href="#dinnerplatters" class="nav-link" role="tab" data-toggle="tab"> Dinner Platters </a>
                    </li>
                    <li class="nav-item ml-3">
                        <a href="#salads" class="nav-link" role="tab" data-toggle="tab"> Salads </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="topping">
                        <div class="card-columns container pt-3">
                            {% for topping  in toppings %}
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title"> {{ topping.name }}</h3>
                                    {% if topping.name == "MARGHERITA" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Margherita-pizza.jpg" height = "250px">    
                                    {% endif %}
                                    {% if topping.name == "HAWAIIAN" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Hawaiian-pizza.jpg" height = "250px">  
                                    {% endif %}
                                    {% if topping.name == "BBQ BEEF" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/BBQ-beef-pizza.jpg" height = "250px">   
                                    {% endif %}
                                    {% if topping.name == "SAUSAGE" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Sausage-pizza.jpg" height = "250px">    
                                    {% endif %}
                                    {% if topping.name == "BOLOGNAISE" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Bolognaise-pizza.jpg" height = "250px">    
                                    {% endif %}
                                    {% if topping.name == "SEAFOOD" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Seafood-pizza.jpg" height = "250px">    
                                    {% endif %}
                                    {% if topping.name == "CHEESE TUNA" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Tuna-pizza.jpg" height = "250px">    
                                    {% endif %}
                                    {% if topping.name == "TERIYAKI CHICKEN" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Teriyaki Chicken-pizza.jpg" height = "250px">    
                                    {% endif %}
                                    {% if topping.name == "BEEFY" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Beefy-pizza.png" height = "250px">    
                                    {% endif %}
                                    {% if topping.name == "BURRATA CHEESE" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Burrata-cheese-pizza.jpg" height = "250px">    
                                    {% endif %}
                                    {% if topping.name == "VEGETABLES" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Vegetables-pizza.jpg" height = "250px">    
                                    {% endif %}
                                    <hr>
                                </div>
                            </div>
                            {% empty %}
                            <h4 class="text-white">No Catagories.</h4>
                            {% endfor %}
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="pizza">
                        <h2 class="text-white text-center mt-3"> Regular Pizza </h2>
                        <div class="card-columns container pt-3">
                            {% for pizza in pizzas %}
                                {% if pizza.style == 'R' %}
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title"> {{ pizza.name }}</h3>
                                        <hr>
                                        <p class="card-text"> Price(Small): ${{ pizza.price_small }}</p>
                                        <p class="card-text"> Price(Large): ${{ pizza.price_large }}</p>  
                                        <div class="card-footer">
                                            <form action="{% url 'additems' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="hidden" name="dishtype" value="regularpizza">
                                                    <input type="hidden" name="dishname" value="{{ pizza.name }}">
                                                    <input type="hidden" name="price_small" value="{{ pizza.price_small }}">
                                                    <input type="hidden" name="price_large" value="{{ pizza.price_large }}">
                                                    <label for="pizza_size">Choose Size:</label>
                                                    <select class="form-control" id="pizza_size" name="pizza_size">
                                                        <option value="Small"> Small </option>
                                                        <option value="Large"> Large </option>
                                                    </select>
                                                    <label for="pizza_topping">Choose Catagorie(s)*:</label>
                                                    <select multiple class="form-control" id="pizza_topping" name="pizza_topping">
                                                        {% for topping in toppings %}
                                                        <option value="{{ topping }}"> {{topping}} </option>
                                                        {% endfor %}                                                    
                                                    </select>                                                    
                                                </div>
                                                <button type="submit" class="btn btn-primary">Add to cart</button>
                                            </form>                                        
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}                            
                        </div> 
                        <div class="container">
                            <small class="text-white text-muted ml-2">*Hold down “Control”, or “Command” on a Mac, to select more than one.</small>
                        </div> 
                        

                        <h2 class="text-white text-center mt-2"> Dinosaur Pizza </h2>
                        <div class="card-columns container pt-3">
                            {% for pizza in pizzas %}
                                {% if pizza.style == 'D' %}
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title"> {{ pizza.name }}</h3>
                                        <hr>
                                        <p class="card-text"> Price(Small): ${{ pizza.price_small }}</p>
                                        <p class="card-text"> Price(Large): ${{ pizza.price_large }}</p>  
                                        <div class="card-footer">
                                            <form action="{% url 'additems' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="hidden" name="dishtype" value="dinosaurpizza">
                                                    <input type="hidden" name="dishname" value="{{ pizza.name }}">
                                                    <input type="hidden" name="price_small" value="{{ pizza.price_small }}">
                                                    <input type="hidden" name="price_large" value="{{ pizza.price_large }}">
                                                    <label for="pizza_size">Choose Size:</label>
                                                    <select class="form-control" id="pizza_size" name="pizza_size">
                                                        <option value="Small"> Small </option>
                                                        <option value="Large"> Large </option>
                                                    </select>
                                                    <label for="pizza_topping">Choose Catagorie(s):</label>
                                                    <select multiple class="form-control" id="pizza_topping" name="pizza_topping">
                                                        {% for topping in toppings %}
                                                        <option value="{{ topping }}"> {{topping}} </option>
                                                        {% endfor %}                                                    
                                                    </select>                                                    
                                                </div>
                                                <button type="submit" class="btn btn-primary">Add to cart</button>
                                            </form>                                        
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="container mb-3">
                            <small class="text-white text-muted ml-2">*Hold down “Control”, or “Command” on a Mac, to select more than one.</small>
                        </div> 
                        
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="subs">
                        <div class="card-columns container pt-3">
                            {% for sub in subs %}
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title"> {{ sub.name }}</h3>
                                    {% if sub.name == "Fried Chicken" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Fried_Chicken.jpg" height = "250px">    
                                    {% endif %}
                                    {% if sub.name == "Hamburger" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Hamburger.jpg" height = "250px">  
                                    {% endif %}
                                    {% if sub.name == "Pork Chop" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Pork chop.jpg" height = "250px">   
                                    {% endif %}
                                    {% if sub.name == "Tuna Sandwich" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Tuna sandwich.jpg" height = "250px">    
                                    {% endif %}
                                    {% if sub.name == "French Fried" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/French fried.jpg" height = "250px">    
                                    {% endif %}
                                    {% if sub.name == "Cheese Burger" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Cheese burger.jpg" height = "250px">    
                                    {% endif %}
                                    <hr>
                                    <p class="card-text"> Price(Small): ${{ sub.price_small }}</p>
                                    <p class="card-text"> Price(Large): ${{ sub.price_large }}</p>  
                                    <div class="card-footer">
                                        <form action="{% url 'additems' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="hidden" name="dishtype" value="sub">
                                                <input type="hidden" name="dishname" value="{{ sub.name }}">
                                                <input type="hidden" name="price_small" value="{{ sub.price_small }}">
                                                <input type="hidden" name="price_large" value="{{ sub.price_large }}">
                                                <label for="sub_size">Choose Size:</label>
                                                <select class="form-control" id="sub_size" name="sub_size">
                                                    <option value="Small"> Small </option>
                                                    <option value="Large"> Large </option>
                                                </select>
                                                <label for="sub_extras">Choose Extras:</label>
                                                <select multiple class="form-control" id="sub_extras" name="sub_extras">
                                                    {% for extra in subextras %}
                                                    <option value="{{ extra.name }}"> {{extra}} </option>
                                                    {% endfor %}                                                    
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add to cart</button>
                                        </form>                                        
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <h4 class="text-white">No Subs</h4>
                            {% endfor %}
                        </div>
                        <div class="container mb-3">
                            <small class="text-white text-muted ml-2">*Hold down “Control”, or “Command” on a Mac, to select more than one.</small>
                        </div>                        
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="pasta">
                        <div class="card-columns container pt-3">
                            {% for pasta in pastas %}
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title"> {{ pasta.name }}</h3>
                                    {% if pasta.name == "Clam Spaghetti" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Clam Spaghetti.jpg" height = "250px">      
                                    {% endif %}
                                    {% if pasta.name == "Crab Spaghetti" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Crab Spaghetti.jpg" height = "250px">         
                                    {% endif %}
                                    {% if pasta.name == "Salmon Fettuccine" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Salmon Fettuccine.jpg" height = "250px">         
                                    {% endif %}
                                    {% if pasta.name == "Baked Lasagna" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Baked Lasagna.jpg" height = "250px">   
                                    {% endif %}
                                    {% if pasta.name == "Shrimp Fettuccine" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Shrimp Fettuccine.jpg" height = "250px">      
                                    {% endif %}
                                    {% if pasta.name == "Bolognese Spaghetti" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Bolognese Spaghetti.jpeg" height = "250px">       
                                    {% endif %}
                                    <hr>
                                    <p class="card-text"> Price: ${{ pasta.price }}</p>  
                                    <div class="card-footer">
                                        <form action="{% url 'additems' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="dishtype" value="pasta">
                                            <input type="hidden" name="dishname" value="{{ pasta.name }}">
                                            <input type="hidden" name="price" value="{{ pasta.price }}">
                                            <button type="submit" class="btn btn-primary">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <h4 class="text-white">No Pastas.</h4>
                            {% endfor %}
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="dinnerplatters">
                        <div class="card-columns container pt-3">
                            {% for platter in dinnerplatters %}
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title"> {{ platter.name }}</h3>
                                    {% if platter.name == "Steak & Ribs" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Steak & Ribs.jpg" height = "250px">    
                                    {% endif %}
                                    {% if platter.name == "Pork Rack" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Pork Rack.jpg" height = "250px">  
                                    {% endif %}
                                    {% if platter.name == "Imported Steak" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Imported Steak.jpg" height = "250px">   
                                    {% endif %}
                                    <hr>
                                    <p class="card-text"> Price(Small): ${{ platter.price_small }}</p>
                                    <p class="card-text"> Price(Large): ${{ platter.price_large }}</p>  
                                    <div class="card-footer">
                                        <form action="{% url 'additems' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="hidden" name="dishtype" value="platter">
                                                <input type="hidden" name="dishname" value="{{ platter.name }}">
                                                <input type="hidden" name="price_small" value="{{ platter.price_small }}">
                                                <input type="hidden" name="price_large" value="{{ platter.price_large }}">
                                                <label for="platter">Choose Size:</label>
                                                <select class="form-control" id="platter" name="platter_size">
                                                    <option value="Small"> Small </option>
                                                    <option value="Large"> Large </option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add to cart</button>
                                        </form>                                        
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <h4 class="text-white">No Dinner Platters.</h4>
                            {% endfor %}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="salads">
                        <div class="card-columns container pt-3">
                            {% for salad in salads %}
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title"> {{ salad.name }}</h3>
                                    {% if salad.name == "Burrata Salad" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Burrata Salad.jpeg" height = "250px">    
                                    {% endif %}
                                    {% if salad.name == "Fruit Salad" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Fruit Salad.jpg" height = "250px">    
                                    {% endif %}
                                    {% if salad.name == "Tomato Caprese" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Tomato Caprese.jpg" height = "250px">      
                                    {% endif %}
                                    {% if salad.name == "Green Salad" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Green Salad.jpg" height = "250px">      
                                    {% endif %}
                                    {% if salad.name == "Shrimp Salad" %}
                                        <img alt="Card image cap" class="card-img-top" src="/static/orders/Shrimp Salad.jpg" height = "250px">     
                                    {% endif %}
                                    <hr>
                                    <p class="card-text"> Price: ${{ salad.price }}</p>  
                                    <div class="card-footer">
                                        <form action="{% url 'additems' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="dishtype" value="salad">
                                            <input type="hidden" name="dishname" value="{{ salad.name }}">
                                            <input type="hidden" name="price" value="{{ salad.price }}">
                                            <button type="submit" class="btn btn-primary">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <h4 class="text-white">No Salads.</h4>
                            {% endfor %}
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}